/* Allgemein */

*{
    font-family: Arial;
    padding: 0;
    margin: 0;
    }
    
    /* Header alles */
    
    .header{
    width: 60%;
    margin: 0 auto;
    background: #FB9A63;
    }
    
    .content{
    width: 60%;
    margin: 0 auto;
    background: #F2F2F2;
    font-size: 13pt;
    }
    
    /* Logobereich oben */
    
    #upper_header{
    background: #FB9A63;
    color: #4D4D4D;
    position: relative;
    width: 100%; /* relativ zum Container */
    height: 166px;
    }
    
    #upper_header img{
    position: absolute;
    top: 18px; /* Position Logo 36/2 mittig*/
    left: 20px;
    width: 130px;
    height: 130px;
    }
    
    #upper_header h1{
    font-size: 36pt;
    text-align: center;
    padding-top:38px;
    }
    
    #upper_header h2{
    font-size: 18pt;
    font-weight: lighter;
    text-align: center;
    }
    
    /* Menue */
    
    /* Hamburger */
    .hamburger {
        display: none;
    }

    nav ul{
    display: flex; /* nebeneinander */
    list-style: none; /* Keine Aufzaehlungszeichen */
    font-size: 13pt
    
    }
    
    nav ul li{
    width: 100%;
    margin-right: 1px; /* fuer Abtrennung Menuitems */
    text-align: center;
    overflow: hidden;
    background: #FEE193;
    }
    
    
    /* Hinter Warenkorb keine Abtrennung mehr */
    nav ul li:last-child{
        margin-right: 0;
    }
    
    /* Formatierung einzelne Woerter */
    
    nav ul li a{
        text-decoration: none;
        color: #4D4D4D; /* Textfarbe */
        display: block;
        padding: 10px;
    }
    
    nav ul li a:hover{
        background: #FFD54F
    }
    
    #nav_highlighted{
        background: #FFD54F
    }





/* Footer */

footer {
    display: flex;
    width: 60%;
    margin: 0 auto;
    background-color: #FEE193;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 40px;
    
}

.footer_element {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.footer_element > h5 {
    color: #FB9A63;
    font-size: 12pt;
    padding-bottom: 10px;
}

.footer_element > h6 {
    font-weight: normal;
    font-size: 11pt;
    padding-bottom: 10px;
}

.footer_element > p {
    font-weight: normal;
    font-size: 11pt;
}

.footer_element a {
    color: black;
}

/*Homepage*/
main{
    display: flex;
    flex-direction: column;
    
}

.titel_index{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center; 
    position: relative;
}


/* Titelbild */
.titel_index > img {
    width:100%;
    height: auto;
}

.titel_index > p{
    position:absolute;
    color: white;
    text-align: center;
    font-size: 18pt;
    width: 70%;
    padding-bottom: 5%;
}


#ueberschrift_format{
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    font-weight: normal;
}

.empfehlung{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-color: black;
    border-bottom: 1px solid; 
    
}


.artikel{
    display:flex;
    flex-direction: column;
    align-items: center;   
}

.artikel > img{
    border: 1px solid;
    border-color: black;
    margin-bottom: 5px;
}

.news{
    display: flex;
    flex-direction: column;
}

.news > h4{
    font-size: 16pt;
    padding-top: 20px;
    padding-left: 20px;
}

.news > h5{
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 20px; 
    font-weight: bold; 
}

.news > p{
    line-height: 26px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

span.bold{
    font-weight: bold;
}

.news > p > a{
    font-style: italic;
}/*Homepage_Ende*/




/* Service */

/* Titel und Titelbild */
.titel_service img {
    width:100%;
}

.titel_service {
    background-color: #FEE193;
}

.titel_service h1 {
    padding: 15px;
    font-size: 40px;
    text-align: center;
    margin-top: -4px;
}


/* Service Abschnitte */

@media screen and (min-width: 768px) {
    main.content .abschnitt:nth-child(4),
    main.content .abschnitt:nth-child(5) {
        align-items: flex-start; /* oben gehoben für kleinere Abschnitte */
    }
}

.abschnitt {
    padding: 20px;
    display: flex; /* items von div nebeneinander */
    justify-content: space-between; /* gleich Abstand zwischen items von dieser div */
    align-items: center;  /* zentriert anhand der Höhe */
    border-bottom: 1px solid #868686;
}

main.content .abschnitt:nth-child(6) {
    padding-bottom:100px;
}

.abschnitt_text {
    width: 70%;
}

.abschnitt img {
    width: 250px;
    height: 250px;
    margin-left: 20px;
}

.abschnitt_headline {
    color: #FB9A63;
    font-size: 30px; 
}

.abschnitt_text p {
    margin-bottom: 15px;
}

.abschnitt_text h3 {
    margin-bottom: 20px;
}


/* Service FAQs */

.faq_titel, .faq {
    padding: 20px;
    border-bottom: 1px solid #868686;
}

.faq_titel h3 {
    color: #FB9A63;
    font-size: 22px;
    margin-bottom:20px;
}

.faq_titel h4 {
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.faq h3 {
    margin-bottom: 15px;
}

main.content .faq:last-child {
    padding-bottom:100px;
    border-bottom: none;
}
/*Start Community-Seite*/
 
#lower_header{
    background: #FEE193;
}
#lower_header h1{
    text-align: center;
    padding: 10px;
}
#community_content{
    padding: 20px;
}
#community_content h3{
    padding: 20px 0;
}
#community_content p{
    line-height: 26px;
}
.content_left{
    vertical-align: top;
    width: 60%;
    display: inline-block;
    margin-right: 3%;
}
.content_left table{
    width: 100%;
    border: thin solid;
    background: white;
    border-collapse: collapse;
    min-height: 25em;
}
.content_left td{
    vertical-align: top;
    padding: 10px;
    border: thin solid;
    min-height: 30em;
}
.content_right{
    width: 36%;
    display: inline-block;
}
.kommentar_input{ 
    width: 90%;
    min-width: 200px;
    height:30px;
}
#kommentarfeld{
    min-height: 100px;
}

/*Ende Community-Seite*/

/* Ab hier Impressum */

.impressum_box{
	padding-right: 20px;
	padding-left: 20px;
	line-height: 26px;
}

.impressum_ul{
padding: 10px 0px 20px 15px;
}

.impressum_ul_hidden{
padding: 10px 0 20px 0;
list-style: none;

}

/* Ende Impressum */

/*Style Warenkorb*/
.titel_warenkorb img {
    width:100%;
}
.titel_warenkorb {
    background-color: #FEE193;
}
.titel_warenkorb h1 {
   padding: 15px;
    font-size: 16pt;
    text-align: center;
    margin-top: -4px;
}
.nebeneinander{
    display:flex;
    flex-direction:row;
}
.produkt_anzeige{
    width:450px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    border-color: black;
	border:1px solid;
    margin-bottom:20px;
    margin-top:20px;
    margin-right:20px;
    margin-left:20px;
}
.produkt_buttons{
	display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end; 
}
.produkt_input{
    width:auto;
    height:25px;
    margin-right:25px;
    display:flex;
}
.produkt_text{
    display:flex;
    flex-direction:column;
	margin-top:20px;
    margin-left:10px;
    margin-right:10px;
}
.produkt_anzeige img{
    width:255px;
    height:150px;
    border: 1px solid;
    border-color: black;  
}
.produkt_summe{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding-top:30px;
    padding-left:10%;
}

/*Ende Warenkorb*/

/*Style Versandadresse*/
.titel_versandadresse img {
    width:100%;
}
.titel_versandadresse {
    background-color: #FEE193;
}
.titel_versandadresse h1 {
   padding: 15px;
    font-size: 16pt;
    text-align: center;
    margin-top: -4px;
}
.all_inclusiv{
    padding:20px 20px 20px 20px;
}
.label_versand{
    width:110px;
    display: inline-flex;
}
.all_inclusiv h3{
    line-height:3em;
}
.versand_input{
    width:500px;
    height:40px;
}
.buttons_versand{
    margin-left:20px;
    margin-right:110px;
	display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/*EndeVersandadresse*/

/*Style Bestellbestaetigung*/
span img{
	width:100%;
}
.bestaetigungs_text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 80px 20px 100px 40px; 
}
/*Ende Bestellbestaetigung*/

/* Produkte */

.header-filter{
   
    display:flex;
    margin-left:20%;
    
}

/*Filter von Produkte*/
.header-filter > #produkte{
    
    background-color:#F2F2F2;
    border-style: solid;
    border-width:1px;
    width: 37.4%;
    text-align: center;
}

#filtern >a{
    text-decoration: none;
    color:black
}
#produkte >a{
    text-decoration: none;
    color:black
}

/*Produkte*/
.header-filter>#filtern{
    background-color:#F2F2F2;
    border-width:1px;
    border-style: solid;
    width: 37.4%;
    text-align: center;
}

.produkt-filter{
    display:flex;
    margin-top:2%;

}



.produkt-filter > .preisSortieren{
    border-style: solid;
    margin-left:20%;
}

.produkt-filter > .anzahl{
    border-style:solid;
    margin-left:44.01%;  
    text-align: right;
  
}



.divFilter{
    margin-top: 2%;
    display:flex;
}

.preisSortieren{
    border-style: solid;
    margin-left:20%;    
    width:350px;
    background-color:white
}

.anzahl{
    text-align: center;
    box-sizing:border-box;
    margin-left: 40%;
    margin-right: 20%;
    border-style: solid;
    height: 50%;
    padding: 10px;
    background-color:white
}

.Produkt-Anordnung{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    /**margin-left:400px;**/
    background-color:#F2F2F2;
    margin-left: 20%;
    margin-right: 20%;
}

.Produkt-Anordnung > a > .produkt0{
    border-style:solid;
    border-width: 1px;
    width: 300px;
    height: 150px;
    padding:20px;
    margin:1px;

}
.Produkt-Anordnung > .produkt1{
    border-style:solid;
    border-width: 1px;
    width: 300px;
    height: 150px;
    padding:20px;
    margin:1px;
}
.Produkt-Anordnung > .produkt2{
    border-style:solid;
    border-width: 1px;
    width: 300px;
    height: 150px;
    padding:20px;
    margin:1px;
}
.Produkt-Anordnung > a >.produkt0 >img{
    margin-left: 10px;
    width:220px;
    height: auto;
}


.Produkt-Anordnung> .produkt1 > img{
    width:260px;
    height: 70%;
}

.Produkt-Anordnung> .produkt1 > p{
    margin-top: 40px;
}

.Produkt-Anordnung>.produkt2 > img{
    width:220px;
    height: auto;
}

.Produkt-Anordnung > a {
    text-decoration: none;
    color:black;

}

/*Produkt*/
.artikelHeader{
    margin-top: 30px;
    border-style:solid;
    border-width:1px;
    width:100px;
    position:relative;
    left:20%;
    text-align:center;
    font-size: 20px;
}

.produktbild-kosten{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    justify-content:space-between;
    
}

.produktbild >p{
    margin-left:20px;
}

.produktbild-kosten>.produktbild>img{
    width:320px;
    height: auto;
} 
.produktbild-kosten> .produktbild{
    height:400px;
    margin-right: 15%;
    border-style:solid;
    border-width: 1px;
    width:25%;
    margin-left:20%;

   

}

.produktbild-kosten > .kosten{
    border-style:solid;
    border-width: 1px;
    width: 20%;
    margin-right:20%
}

.produktinfo0{
    border-style:solid;
    margin-top:10px;
    border-width: 1px;
    padding-left: 20px;
    padding-top:1%;
    padding-left:3%;
    margin-left:20%;
    margin-right: 20%;
}

.produktinfo0 >ul{
    padding-left:2em;
}

/* Ende Produkte */
@media screen and (max-width: 1090px) {
    .content {
    width: 100%;
    }
    
    footer {
    width: 100%;
    }
    
    .header {
    width: 100%;
    }
    }

