/* Allgemein */

*{
font-family: Arial;
padding: 0;
margin: 0;
}

/* Header alles */

.header{
width: 60%;
margin: 0 auto;
background: #FB9A63;
}

.content{
width: 60%;
margin: 0 auto;
background: #F2F2F2;
}

/* Logobereich oben */

#upper_header{
background: #FB9A63;
color: #4D4D4D;
position: relative;
width: 100%; /* relativ zum Container */
height: 166px;
}

#upper_header img{
position: absolute;
top: 18px; /* Position Logo 36/2 mittig*/
left: 20px;
width: 130px;
height: 130px;
}

#upper_header h1{
font-size: 36pt;
position: absolute; /* absolute = Bezieht sich auf Elternelement upper_header */
top: 30%;
left: 40%;
}

#upper_header h2{
font-size: 18pt;
position: absolute;
font-weight: lighter;
top: 60%;
left: 35%;
}

/* Menue */

nav ul{
display: flex; /* nebeneinander */
list-style: none; /* Keine Aufzaehlungszeichen */
font-size: 13pt

}

nav ul li{
width: 100%;
margin-right: 1px; /* fuer Abtrennung Menuitems */
text-align: center;
overflow: hidden;
background: #FEE193;
}

#nav_highlighted{
}

/* Hinter Warenkorb keine Abtrennung mehr */
nav ul li:last-child{
    margin-right: 0;
}

/* Formatierung einzelne Woerter */

nav ul li a{
    text-decoration: none;
    color: #4D4D4D; /* Textfarbe */
    display: block;
    padding: 10px;
}

nav ul li a:hover{
    background: #FFD54F
}

#nav_highlighted{
 background: #FFD54F
}



