* {
  font-family: Arial;
  padding: 0;
  margin: 0;
}

.header {
  width: 60%;
  margin: 0 auto;
  background: #fb9a63;
}

.content {
  width: 60%;
  margin: 0 auto;
  background: #f2f2f2;
  font-size: 13pt;
}

#upper_header {
  background: #fb9a63;
  color: #4d4d4d;
  position: relative;
  width: 100%;
  height: 166px;
}

#upper_header img {
  position: absolute;
  top: 18px;
  left: 20px;
  width: 130px;
  height: 130px;
}

#upper_header h1 {
  font-size: 36pt;
  text-align: center;
  padding-top: 38px;
}

#upper_header h2 {
  font-size: 18pt;
  font-weight: lighter;
  text-align: center;
}

.hamburger {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  font-size: 13pt;
}

nav ul li {
  width: 100%;
  margin-right: 1px;
  text-align: center;
  overflow: hidden;
  background: #fee193;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #4d4d4d;
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  background: #ffd54f;
}

#nav_highlighted {
  background: #ffd54f;
}

footer {
  display: flex;
  width: 60%;
  margin: 0 auto;
  background-color: #fee193;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 40px;
}

.footer_element {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.footer_element > h5 {
  color: #fb9a63;
  font-size: 12pt;
  padding-bottom: 10px;
}

.footer_element > h6 {
  font-weight: normal;
  font-size: 11pt;
  padding-bottom: 10px;
}

.footer_element > p {
  font-weight: normal;
  font-size: 11pt;
}

.footer_element a {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
}

.titel_index {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.titel_index > img {
  width: 100%;
  height: auto;
}

.titel_index .titel_kasten {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 154, 99, 0.6);
  width: 70%;
  margin-bottom: 5%;
}

.titel_index .titel_kasten > p {
  color: white;
  text-align: center;
  font-size: 18pt;
  width: 70%;
}

#ueberschrift_format {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
  font-weight: normal;
}

.empfehlung {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  border-color: black;
  border-bottom: 1px solid;
}

.artikel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.homepage_img_container{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 150px;
  border: 1px solid black;
  margin-bottom: 15px;
}

.homepage_img_container img {
  width: 290px;
  object-fit: contain;
}

.news {
  display: flex;
  flex-direction: column;
}

.news > h4 {
  font-size: 16pt;
  padding-top: 20px;
  padding-left: 20px;
}

.news > h5 {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: bold;
}

.news > p {
  line-height: 26px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

span.bold {
  font-weight: bold;
}

.news > p > a {
  font-style: italic;
}

.titel_service img {
  width: 100%;
}

.titel_service {
  background-color: #fee193;
}

.titel_service h1 {
  padding: 15px;
  font-size: 40px;
  text-align: center;
  margin-top: -4px;
}

.abschnitt {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #868686;
}

.abschnitt .underlined {
    font-weight: normal;
    text-decoration-line: underline;
}

main.content .abschnitt:nth-child(6) {
  padding-bottom: 100px;
}

.abschnitt_text {
  width: 70%;
}

.abschnitt img {
  width: 250px;
  height: 250px;
  margin-left: 20px;
}

.abschnitt_headline {
  color: #fb9a63;
  font-size: 30px;
}

.abschnitt_text p {
  margin-bottom: 15px;
}

.abschnitt_text h3 {
  margin-bottom: 20px;
}

.faq_titel,
.faq {
  padding: 20px;
  border-bottom: 1px solid #868686;
}

.faq_titel h3 {
  color: #fb9a63;
  font-size: 22px;
  margin-bottom: 20px;
}

.faq_titel h4 {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 10px;
}

.faq h3 {
  margin-bottom: 15px;
}

main.content .faq:last-child {
  padding-bottom: 100px;
  border-bottom: none;
}

#lower_header {
  background: #fee193;
}

#lower_header h1 {
  text-align: center;
  padding: 10px;
}

#lower_header img{
  width: 100%;
}

#community_content {
  padding: 20px;
}

#community_content h3 {
  padding: 20px 0;
}

#community_content p {
  line-height: 26px;
}

.content_left {
  vertical-align: top;
  width: 60%;
  display: inline-block;
  margin-right: 3%;
}

.content_left table {
  width: 100%;
  border: thin solid;
  background: white;
  border-collapse: collapse;
  min-height: 25em;
}

.content_left td {
  vertical-align: top;
  padding: 10px;
  border: thin solid;
  min-height: 30em;
}

.content_right {
  width: 36%;
  display: inline-block;
}

.rezension_input {
  width: 90%;
  min-width: 200px;
  height: 30px;
  font-size: 12pt;
}

.rezension_input:hover {
  background-color: #ffd54f;
}

#kommentar {
  min-height: 100px;
  max-width: 100%;
}

#rezension_submit{
  background-color: #f2f2f2;
  border-radius: 12px;
  border-width: thin;
}

#rezension_submit:hover{
  background-color: #ffd54f;
}

#error {
  color: red;
}

.impressum_box {
  padding-right: 20px;
  padding-left: 20px;
  line-height: 26px;
}

.impressum_ul {
  padding: 10px 0px 20px 15px;
}

.impressum_ul_hidden {
  padding: 10px 0 20px 0;
  list-style: none;
}

.titel_warenkorb img {
  width: 100%;
}

.titel_warenkorb h1 {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  margin-top: -5px;
  background-color: #fee193;
}

.nebeneinander {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:center;
}

.produkt_anzeige {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 20px 20px;
  background-color: white;
  border: 1px solid;
  border-color: black;
  width: fit-content;
}

.produkt_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
}

.produkt_input {
  min-width: 90px;
  height: 25px;
  display: flex;
  background-color: #f2f2f2;
  list-style: none;
  border-radius: 12px;
  font-size: 12pt;
  border-width: thin;
  justify-content: center;
}

.produkt_input:hover {
  background-color: #ffd54f;
}

.mengen_angabe {
  height: 25px;
  margin-right: 16px;
  margin-left: 4px;
  background-color: #f2f2f2;
  border-style: none;
  font-size: 12pt;
}

.produkt_text {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 10px 10px;
  line-height: 30px;
}

.produkt_anzeige img {
  width: 250px;
  height: 135px;
  border-right: 1px solid;
  border-color: black;
}

.produkt_summe {
  display: flex;
  flex-direction: column;
  padding-top:20px;
  padding-right: 20px;
  padding-left:3%;
  line-height: 30px;
  padding-bottom: 20px;
  margin:0px;
}

.produkt_summe input {
  margin-top: 20px;
  background-color: white;
}

.produkt_summe p {
  font-weight: normal;
  font-size: 11pt;
}

.produkt_summe a {
  text-decoration: none;
}

.nebeneinander h3 {
  font-size: 13pt;
}

.titel_versandadresse img {
  width: 100%;
}

.titel_versandadresse h1 {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  margin-top: -5px;
  background-color: #fee193;
}

.all_inclusiv {
  padding: 20px 20px 20px 20px;
}

.label_versand {
  width: 110px;
  display: inline-flex;
}

.all_inclusiv h2 {
  line-height: 3em;
}

.all_inclusiv h3 {
  line-height: 2em;
}

.versand_input {
  width: 80%;
  height: 40px;
  background-color: white;
  font-size: 14pt;
  margin-bottom: 20px;
}

.versand_input:hover {
  background-color: #ffd54f;
}

.buttons_versand {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #f2f2f2;
}

.konto {
  margin-top: 20px;
}

#AGBs {
  margin-top: 40px;
  margin-bottom: 40px;
}

#stderr {
  color: red;
  padding: 0 0 20px 0px;
}

.buttons_versand input {
  border-radius: 12px;
}

span img {
  width: 100%;
}

.bestaetigungs_text {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 80px 20px 100px 40px;
  line-height: 3em;
  font-size: 13pt;
  text-align: center;
}

.divgrau {
  height: 40px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: #f2f2f2;
}

#sortierung {
  padding: 20px;
}

#sortierung select {
  font-size: 17px;
  width: 250px;
  cursor: pointer;
  border-radius: 10px;
  text-indent: 5px;
}

.produkte-frame {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
}

.produkt-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-style: solid;
  border-width: 1px;
  width: 300px;
  height: 200px;
  margin: 1px;
  padding: 10px;
  background-color: white;
  text-decoration: none;
  color: black;
}

.blaskraft_id {
  position: absolute;
  top: 10px;
  left: 10px;
}

.ps-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.ps-preis {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.produkt-box img {
  height: 120px;
  width: 280px;
  object-fit: contain;
}

.artikelHeader {
  margin-top: 30px;
  margin-left: 40px;
  text-align: left;
  font-weight: 2px;
  color: #fb9a63;
}

.produktbild-kosten {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

.produktbild > img {
  width: 100%;
  height: auto;
}

.produktbild > p {
  margin-left: 20px;
}

.produktbild-kosten > .produktbild {
  display: flex;
  align-items: center;
  background-color: white;
  border-style: solid;
  padding: 10px;
  border-width: 1px;
  margin-left: 40px;
  width: 40%;
}

.produktbild-kosten > .kosten {
  border-style: solid;
  border-width: 1px;
  margin-right: 40px;
  padding: 10px;
  width: 40%;
  background-color: white;
  line-height: 30px;
}

.anzahl_kont {
  display: flex;
  flex-direction: row;
}

.anzahl_kont > label {
  margin-left: 4px;
  padding-top: 70px;
}

.mengen_angabe_produkt {
  height: 25px;
  margin-left: 4px;
  background-color: #f2f2f2;
  border-style: none;
  font-size: 12pt;
  margin-top: 70px;
}

.kosten > button {
  background-color: #f2f2f2;
  border-radius: 12px;
  margin-top: 20px;
  padding: 5px;
  border: 1px solid grey;
  font-size: 16px;
}

.kosten > button:hover {
  background-color: #ffd54f;
}

.produktinfo0 {
  border-width: 1px;
  padding: 10px;
  margin: 10px 40px 20px 40px;
  background-color: white;
  border-style: solid;
}

.produktinfo0 > ul {
  padding-left: 2em;
}

@media screen and (max-width: 1090px) {
  .content {
    width: 100%;
  }


  footer {
    width: 100%;
  }

  .header {
    width: 100%;
  }
  .produkt_summe {
    margin-left: 4%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1580px) and (min-width: 1090px) {
  #produkt_desktop2 {
    display: none;
  }
}

@media screen and (max-width: 940px) {
  #produkt_desktop2 {
    display: none;
  }
}
